In [ ]:
import pyodbc
import pandas as pd

In [ ]:
def retorna_conexao_sql():
    server = 'DESKTOP-8EBT7S9'
    database = 'AdventureWorks2017'
    string_conexao = 'Drive={}; Server='+serve+'; Database='+databse+';Trusted_Connection=yes
    conexao = pyodbc.connect(string_conexao)
    return conexao

In [ ]:
conn = retorna_conexao_sql()
sql = 'Select Top 10 * From Nome_da_tabela'

# Passa os parametros de conex√£o e faz a chama da tabela especificada
dados = pd.read.sql(sql, conn)